
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div >
        <a class="navbar-brand" >Recipe Book</a>
      </div>
     <div>
      <ul class="nav nav-pills">
        <li >
          <!-- <a class="nav-link"  (click)="onSelect('recipe')">Recipes</a> -->
          <a class="nav-link" routerLink = '/recipes' routerLinkActive="active">Recipes</a>
        </li>
        <li routerLinkActive ="active">
          <!-- <a class="nav-link"  (click)="onSelect('shoping-list')">Shoping List</a> -->
          <a class="nav-link" routerLink = '/shoping-list'routerLinkActive="active">Shoping List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" >Save Data</a></li>
            <li><a class="dropdown-item" >Fetch</a></li>
          </ul>
        </li>
      </ul>
     </div>
    </div>
  </nav>
  
  
  